@using Domain;
@model DetalleEstudianteViewModel;


<div class="card-title m-0">
    <h1 style="padding-left:20px; color:#3c7edd" class="fw-bold m-0 pt-10 pb-5">Información del estudiante</h1>
    <div class="card-footer d-flex justify-content-end px-9">
        <a asp-controller="Datos" asp-action="EditarEstudiante" asp-route-id="@Model.EstudiantesSeleccionado.Id" class="btn btn-primary">Editar</a>
    </div>

</div>

<div class="row gx-5 gx-xl-10">
    <!--begin::Col-->
    <div class="col-xxl-6 mb-5 mb-xl-10">
        <!-- Madre -->
        <div class="card card-flush h-xl-90" style="margin: 20px;">
            <!--begin::Card header-->
            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                <!--begin::Card title-->
                <div class="card-title m-0">
                    <h3 class="fw-bold m-0">Información General</h3>
                </div>
                <!--end::Card title-->
            </div>
            <!--begin::Card header-->
            <!--begin::Content-->
            <div id="kt_account_settings_profile_details" class="collapse show">
                <!--begin::Form-->
                <!--begin::Card body-->
                <div class="card-body border-top p-9">
                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-4 col-form-label fw-semibold fs-6">Foto del estudiante</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <!--begin::Image input-->
                            <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url(@KTTheme.GetAssetPath("media/avatars/blank.png"))">
                                <!--begin::Preview existing avatar-->
                                <img style="max-width: 200px; max-height: 200px;" src="/assets/media/avatars/@Model.EstudiantesSeleccionado.Avatar" class="" alt="" data-src="/assets/media/avatars/@Model.EstudiantesSeleccionado.Avatar">
                                <!--end::Preview existing avatar-->
                            </div>
                            <!--end::Image input-->
                            <!--begin::Hint-->
                            <!--end::Hint-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->
                    <!--Nombres-->
                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-4 col-form-label fw-semibold fs-6">Nombres Completos</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <!--begin::Row-->
                            <div class="row">
                                <!--begin::Col-->
                                <div class="col-lg-6 fv-row">
                                    <input type="hidden" name="TipoPersonaId" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" value="" />
                                    <input type="text" name="Nombres" id="nombresEst" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" maxlength="70" value="@Model.EstudiantesSeleccionado.Nombres" readonly />
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->
                    <!--Apellidos-->
                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-4 col-form-label fw-semibold fs-6">Apellidos completos</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <!--begin::Row-->
                            <div class="row">
                                <!--begin::Col-->
                                <div class="col-lg-6 fv-row">
                                    <input type="text" name="Apellidos" id="apellidosEst" class="form-control form-control-lg form-control-solid" maxlength="70" value="@Model.EstudiantesSeleccionado.Apellidos" readonly />
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-4 col-form-label fw-semibold fs-6">Número de Identificación</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <!-- SUBIR PDF-->
                        <div class="col-lg-8 fv-row">
                            <div class="form-group" style="padding-top: 10px;">

                                <input type="text" name="Apellidos" id="apellidosEst" class="form-control form-control-lg form-control-solid" maxlength="70" value="@Model.EstudiantesSeleccionado.Identificacion" readonly />

                            </div>

                            <!--end::Hint-->

                        </div>
                        <!--begin::Label-->
                        <!--end::Col-->
                    </div>
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-4 col-form-label fw-semibold fs-6">PDF Identificación</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <!-- SUBIR PDF-->
                        <div class="col-lg-8 fv-row">
                            <div class="form-group" style="padding-top: 10px;">

                                <a href="@("/assets/media/documentosIdentificacion/" + @Model.EstudiantesSeleccionado.Identificacion + ".pdf")" id="pdfLink" target="_blank">
                                    <i class="far fa-solid fa-file-pdf"></i> Descargar PDF
                                </a>
                            </div>
                            <!--end::Hint-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-4 col-form-label fw-semibold fs-6">Fecha de nacimiento</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8 fv-row">
                            <input name="FechaNacimiento" class="form-control form-control-lg form-control-solid" placeholder="Fecha de nacimiento" value="@Model.EstudiantesSeleccionado.FechaNacimiento.ToString("dd/MM/yyyy")" readonly />
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-4 col-form-label fw-semibold fs-6">Dirección de domicilio</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8 fv-row">
                             Calle Principal
                            <input type="text" name="CallePrincipal" class="form-control form-control-lg form-control-solid" maxlength="70" placeholder="Calle principal" value="@Model.DireccionEstudiante.CallePrincipal" readonly />
                            Número de casa
                            <input type="text" name="Numero" class="form-control form-control-lg form-control-solid" maxlength="10" placeholder="Número" value="@Model.DireccionEstudiante.Numero" readonly />
                            Calle Secundaria
                            <input type="text" name="CalleSecundaria" class="form-control form-control-lg form-control-solid" maxlength="70" placeholder="Calle Secundaria" value="@Model.DireccionEstudiante.CalleSecundaria" readonly />

                        </div>
                        <!--end::Col-->
                    </div>
                </div>
                <!--end::Form-->
            </div>
            <!--end::Content-->
        </div>
    </div>

    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-6 mb-5 mb-xl-10">
        <!-- Padre-->
        <div class="card card-flush h-xl-90" style="margin: 20px;">
            <!--begin::Card header-->
            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                <!--begin::Card title-->
                <div class="card-title m-0">
                    <h3 class="fw-bold m-0">Salud</h3>
                </div>
                <!--end::Card title-->
            </div>
            <!--begin::Card header-->
            <!--begin::Content-->
            <div id="kt_account_settings_profile_details" class="collapse show">
                <!--begin::Form-->
                @*                    <form id="kt_account_profile_details_form" class="form">*@
                <!--begin::Card body-->
                <div class="card-body border-top p-9">
                    <!--begin::Input group-->
                    <!--end::Input group-->
                    <!--Nombres-->
                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-4 col-form-label fw-semibold fs-6">Peso (kg)</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <!--begin::Row-->
                            <div class="row">
                                <!--begin::Col-->
                                <div class="col-lg-8 fv-row">
                                    <input type="text" name="Peso" class="form-control form-control-lg form-control-solid" maxlength="6" placeholder="Peso en kilos" oninput="validarNumeros(event)" value="@Model.HistorialMedico.FirstOrDefault().Peso" readonly />
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->
                    <!--Apellidos-->
                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-4 col-form-label fw-semibold fs-6">Talla (cm)</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <!--begin::Row-->
                            <div class="row">
                                <!--begin::Col-->
                                <div class="col-lg-8 fv-row">
                                    <input type="text" name="Talla" class="form-control form-control-lg form-control-solid" maxlength="6" placeholder="Talla en centímetros" oninput="validarNumeros(event)" value="@Model.HistorialMedico.FirstOrDefault().Talla" readonly />
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-semibold fs-6">Dosis de vacuna contra covid 19</label>
                        <div id="third-div" class="col-lg-6 fv-row">
                            <input type="text" name="NumeroDosis" class="form-control form-control-lg form-control-solid" placeholder="Número de dosis" oninput="validarLetras(event)" value="@if(Model.ObservacionesMedicas[0] != null){
                            @Model.ObservacionesMedicas[0].Especificacion
}" readonly />
                        </div>
                    </div>

                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-semibold fs-6">Enfermedad crónica</label>
                        <div id="enfermedad-div" class="col-lg-6 fv-row">
                            <input type="text" name="EnfermedadCronica" class="form-control form-control-lg form-control-solid" placeholder="No registrado" value="@if(Model.ObservacionesMedicas[1]!= null){
                            @Model.ObservacionesMedicas[1].Especificacion
}" readonly />
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-4 col-form-label fw-semibold fs-6">Medicación continua:</label>
                        <div id="medicacion-div" class="col-lg-6 fv-row">
                            <input type="text" name="MedicacionContinua" class="form-control form-control-lg form-control-solid" placeholder="No registrado" value="@if(Model.ObservacionesMedicas[2]!= null){
                            @Model.ObservacionesMedicas[2].Especificacion
}" readonly />
                        </div>
                        <!--end::Label-->
                        <!--begin::Col-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-4 col-form-label fw-semibold fs-6">Cirugías:</label>
                        <!--end::Label-->
                        <div id="Cirugia-div" class="col-lg-6 fv-row">
                            <input type="text" name="Cirugia" class="form-control form-control-lg form-control-solid" placeholder="No registrado" value="@if(Model.ObservacionesMedicas[3]!= null){
                            @Model.ObservacionesMedicas[3].Especificacion
}" readonly />
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-4 col-form-label fw-semibold fs-6">Autoriza la suministración de antiinflamatorios o analgésicos</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-2 form-check form-check-custom form-check-solid" style="padding-left: 10px;">
                            <input type="text" name="Cirugia" class="form-control form-control-lg form-control-solid" placeholder="No registrado" value="@( Model.FichaEstudiante != null && (Model.FichaEstudiante.AutorizaAntiinflamatorioAnalgesico ?? false) ? "Sí" : "No")" readonly />

                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">Seguro médico privado.</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-6 fv-row">
                                <input type="text" name="SeguroPrivado" class="form-control form-control-lg form-control-solid" placeholder="No registrado" value="@if(@Model.FichaEstudiante != null){
                                @Model.FichaEstudiante.SeguroMedico
}" readonly />
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">Datos en caso de emergencia:</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                Nombre del médico de cabecera:
                                <input type="text" name="ApellidosMedico" class="form-control form-control-lg form-control-solid" maxlength="70" placeholder="Nombre del médico pediatra" oninput="validarLetras(event)" value="@if(Model.FichaEstudiante != null){
                                @Model.FichaEstudiante.NombresMedico
}" readonly />
                                Teléfono convencional del médico
                                <input type="text" name="TelefonoMedico" class="form-control form-control-lg form-control-solid" maxlength="10" placeholder="Telefono del médico pediatra" value="@if(Model.FichaEstudiante != null){
                                @Model.FichaEstudiante.TelefonoMedico
}" readonly />
                                Teléfono celular del médico
                                <input type="text" name="CelularMedico" class="form-control form-control-lg form-control-solid" maxlength="10" placeholder="Telefono del médico pediatra" value="@if(Model.FichaEstudiante != null){
                                @Model.FichaEstudiante.CelularMedico
}" readonly />
                                Dirección del consultorio médico
                                <input type="text" name="DireccionMedico" class="form-control form-control-lg form-control-solid" placeholder="Dirección del médico pediatra" value="@if(Model.FichaEstudiante != null){
                                @Model.FichaEstudiante.DireccionMedico
}" readonly />
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">En caso de tener alergias describirlas</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-6 fv-row">
                                <input type="text" name="Alergias" class="form-control form-control-lg form-control-solid" maxlength="300" placeholder="Nombre de la alergia" value="@if(Model.FichaEstudiante != null){
                                @Model.FichaEstudiante.Alergias
}" readonly />
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">En caso de tener restricciones alimenticias describir</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-6 fv-row">
                                <input type="text" name="RestriccionAlimento" class="form-control form-control-lg form-control-solid" maxlength="500" placeholder="No registrado" value="@if(Model.FichaEstudiante != null){
                                @Model.FichaEstudiante.RestriccionesAlimenticias
}" readonly />
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">¿Algún dato adicional de salud que se considere importante reportar al colegio?</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-6 fv-row">
                                <input type="text" name="DatoAdicional" class="form-control form-control-lg form-control-solid" maxlength="500" placeholder="No registrado" value="@if(Model.FichaEstudiante != null){@Model.FichaEstudiante.NotasImportanteSalud}" readonly />
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--end::Card body-->
                    @*</form>*@
                    <!--end::Form-->
                </div>
                <!--end::Content-->
            </div>
        </div>
    </div>
</div>

@*<script>

    function openEditTab(id) {
        alert(id);
        $.ajax({
            url: '@Url.Action("EditarEstudiante", "Datos")',
            type: 'GET',
            data: { estudianteId: id }
        });
    }
</script>*@





