@using Infrasctructure.Repositories;
@using Domain;
@model ReinventedPuembo.Models.RecoveryPasswordViewModel;
﻿@{
    ViewData["Title"] = "Olvidaste la contraseña";
    Layout = KTTheme.GetView("Auth.cshtml");
    KTTheme.AddJavascriptFile("js/custom/authentication/sign-in/general.js");
}

<!--begin::Form-->
<form id="changePasswordForm" asp-action="ChangePassword" asp-controller="Usuarios" method="Post" class="form w-100" novalidate="novalidate">
    <!--begin::Heading-->
    <div class="text-center mb-10">
        <!--begin::Title-->
        <h1 class="text-dark fw-bolder mb-3">
            Cambiar contraseña
        </h1>
        <!--end::Title-->
    </div>
    @Html.HiddenFor(d=>d.Email)
    @Html.HiddenFor(d=>d.token)
    <!--begin::Heading-->
    <!--begin::Input group--->
    <div class="fv-row mb-8">
    <!--begin::Link-->
    <div class="text-gray-500 fw-semibold fs-6">
        Ingrese nueva contraseña
    </div>
    <!--end::Link-->
        <!--begin::Email-->
        @Html.PasswordFor(d=>d.Password, new { @class = "form-control"})
        @Html.ValidationMessageFor(d=>d.Password, null, new {style = "color:red;"})

        <!--end::Email-->
    </div>


    <!--end::Link-->
    <!--begin::Heading-->
    <!--begin::Input group--->
    <div class="fv-row mb-8">
        <div class="text-gray-500 fw-semibold fs-6">
            Confirmar contraseña
        </div>
        <!--begin::Email-->
        @Html.PasswordFor(d=>d.Password2, new { @class = "form-control"})
        @Html.ValidationMessageFor(d=>d.Password2, null, new {style = "color:red;"})
        <!--end::Email-->
    </div>

    <!--begin::Actions-->
    <div class="d-flex flex-wrap justify-content-center pb-lg-0">
        <button class="btn btn-primary me-4">
                Cambiar
        </button>

        <a asp-action="login" asp-controller="usuarios" class="btn btn-light">Cancelar</a>
    </div>
    <!--end::Actions-->
</form>
<!--end::Form-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("submitButton").addEventListener("click", function (event) {
            event.preventDefault();

            Swal.fire({
                title: "Mensaje de SweetAlert",
                text: "¡El formulario se envió correctamente!",
                icon: "success",
                showConfirmButton: false,
                timer: 2000
            });

            document.getElementById("changePasswordForm").submit();
        });
    });
</script>