@using Application.Models.User;
@using Infrasctructure.Repositories;
@model IEnumerable<UsuarioMap>;
﻿@{
    ViewData["Title"] = "Lista de " + ViewData["tipo"]!.ToString()!.ToLower();
    KTTheme.AddJavascriptFile("js/custom/apps/user-management/users/list/table.js");
    var rutaOrigen = @Url.Content("~/media/profiles");
}


<!--begin::Card-->
<div class="card card-flush h-xl-100">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
                <input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Buscar Usuario" />
            </div>
            <!--end::Search-->
        </div>
        <!--begin::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">

                <!--begin::Add user-->

                <a id="kt_modal_add_user" class="btn btn-primary">
                    @Html.Raw(KTTheme.GetIcon("plus", "fs-2x"))
                    Añadir Usuario
                </a>
                <!--end::Add user-->
            </div>
            <!--end::Toolbar-->



        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body py-3">
        <div class="table-responsive">
        <!--begin::Table-->
        <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
            <!--begin::Table head-->
            <thead>
                <!--begin::Table row-->
                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                    <th class="min-w-125px">Usuario</th>
                    <th class="min-w-200px text-center">Cédula</th>
                    <th class="min-w-200px text-center">Sucursal</th>
                    <th class="min-w-200px text-center">Rol</th>
                    <th class="min-w-200px text-center">Acciones</th>
                </tr>
                <!--end::Table row-->
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody class="text-gray-600 fw-bold">

                @foreach (var item in Model)
                {
                    <!--begin::Table row-->
                    <tr>

                        <!--begin::User=-->
                        <td class="d-flex align-items-center">
                            <!--begin:: Avatar -->
                            <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                                <a asp-action="details" asp-controller="usuarios" asp-route-email="@item.Email">
                                    <div class="symbol-label">
                                            <img src='@KTTheme.GetAssetPath("media/avatars/"+@item.Avatar)' alt="Emma Smith" class="w-100" />
                                    </div>
                                </a>
                            </div>
                            <!--end::Avatar-->
                            <!--begin::User details-->
                            <div class="d-flex flex-column">
                                <a asp-action="details" asp-controller="usuarios" asp-route-email="@item.Email" class="text-gray-800 text-hover-primary mb-1">@item.Nombre @item.Apellido</a>
                                <span>@item.Email</span>
                            </div>
                            <!--begin::User details-->
                        </td>
                        <!--end::User=-->
                        <!--begin::Role=-->
                        <td class="text-center">@item.Cedula</td>
                        <!--end::Role=-->
                        <!--begin::Last login=-->
                        <td class="text-center">
                            <div class="badge badge-light fw-bolder">@item.Sucursal!.Nombre</div>
                        </td>
                        <!--end::Last login=-->
                        <!--begin::Joined-->
                        <td class="text-center">@item.Rol</td>
                        <!--begin::Joined-->
                        <!--begin::Action=-->
                        <td class="d-flex flex-wrap flex-center">
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a class="menu-link hover-scale" title="Ver">
                                    <span class="menu-icon">@Html.Raw(KTTheme.GetIcon("eye", "fs-2x text-primary"))</span>
                                </a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a class="menu-link hover-scale" title="Editar">
                                    <span class="menu-icon">@Html.Raw(KTTheme.GetIcon("pencil", "fs-2x text-warning"))</span>
                                </a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a class="menu-link hover-scale" title="Borrar" data-kt-users-table-filter="delete_row" href="#">
                                    <span class="menu-icon">@Html.Raw(KTTheme.GetIcon("trash", "fs-2x text-danger"))</span>
                                </a>
                            </div>
                            <!--end::Menu item-->
                        </td>
                        <!--end::Action=-->
                    </tr>
                    <!--end::Table row-->
                }

            </tbody>
            <!--end::Table body-->
        </table>
        <!--end::Table-->
        </div>
    </div>
    <!--end::Card body-->
</div>
<!--end::Card-->
<!--begin::Table widget 2-->
<div class="card h-md-100">
	<!--begin::Header-->
	<div class="card-header align-items-center border-0">
		<!--begin::Title-->
		<h3 class="fw-bold text-gray-900 m-0">Usuarios

		</h3>
		<!--end::Title-->

	</div>
	<!--end::Header-->
	<!--begin::Body-->
	<div class="card-body pt-2">
		<!--begin::Nav-->
		<ul class="nav nav-pills nav-pills-custom mb-3">
			<!--begin::Item-->
			<li class="nav-item mb-3 me-3 me-lg-6">
				<!--begin::Link-->
				<a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden active w-80px h-85px py-4" data-bs-toggle="pill" href="#kt_stats_widget_2_tab_1">
					<!--begin::Icon-->
					<div class="nav-icon">
						<img alt="" src='@KTTheme.GetAssetPath("media/svg/products-categories/t-shirt.svg")' class="" />
					</div>
					<!--end::Icon-->
					<!--begin::Subtitle-->
					<span class="nav-text text-gray-700 fw-bold fs-6 lh-1">T-shirt</span>
					<!--end::Subtitle-->
					<!--begin::Bullet-->
					<span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
					<!--end::Bullet-->
				</a>
				<!--end::Link-->
			</li>
			<!--end::Item-->
			<!--begin::Item-->
			<li class="nav-item mb-3 me-3 me-lg-6">
				<!--begin::Link-->
				<a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden w-80px h-85px py-4" data-bs-toggle="pill" href="#kt_stats_widget_2_tab_2">
					<!--begin::Icon-->
					<div class="nav-icon">
						<img alt="" src='@KTTheme.GetAssetPath("media/svg/products-categories/gaming.svg")' class="" />
					</div>
					<!--end::Icon-->
					<!--begin::Subtitle-->
					<span class="nav-text text-gray-700 fw-bold fs-6 lh-1">Gaming</span>
					<!--end::Subtitle-->
					<!--begin::Bullet-->
					<span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
					<!--end::Bullet-->
				</a>
				<!--end::Link-->
			</li>
			<!--end::Item-->
			<!--begin::Item-->
			<li class="nav-item mb-3 me-3 me-lg-6">
				<!--begin::Link-->
				<a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden w-80px h-85px py-4" data-bs-toggle="pill" href="#kt_stats_widget_2_tab_3">
					<!--begin::Icon-->
					<div class="nav-icon">
						<img alt="" src='@KTTheme.GetAssetPath("media/svg/products-categories/watch.svg")' class="" />
					</div>
					<!--end::Icon-->
					<!--begin::Subtitle-->
					<span class="nav-text text-gray-600 fw-bold fs-6 lh-1">Watch</span>
					<!--end::Subtitle-->
					<!--begin::Bullet-->
					<span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
					<!--end::Bullet-->
				</a>
				<!--end::Link-->
			</li>
			<!--end::Item-->
			<!--begin::Item-->
			<li class="nav-item mb-3 me-3 me-lg-6">
				<!--begin::Link-->
				<a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden w-80px h-85px py-4" data-bs-toggle="pill" href="#kt_stats_widget_2_tab_4">
					<!--begin::Icon-->
					<div class="nav-icon">
						<img alt="" src='@KTTheme.GetAssetPath("media/svg/products-categories/gloves.svg")' class="nav-icon" />
					</div>
					<!--end::Icon-->
					<!--begin::Subtitle-->
					<span class="nav-text text-gray-600 fw-bold fs-6 lh-1">Gloves</span>
					<!--end::Subtitle-->
					<!--begin::Bullet-->
					<span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
					<!--end::Bullet-->
				</a>
				<!--end::Link-->
			</li>
			<!--end::Item-->
			<!--begin::Item-->
			<li class="nav-item mb-3">
				<!--begin::Link-->
				<a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden w-80px h-85px py-4" data-bs-toggle="pill" href="#kt_stats_widget_2_tab_5">
					<!--begin::Icon-->
					<div class="nav-icon">
						<img alt="" src='@KTTheme.GetAssetPath("media/svg/products-categories/shoes.svg")' class="nav-icon" />
					</div>
					<!--end::Icon-->
					<!--begin::Subtitle-->
					<span class="nav-text text-gray-600 fw-bold fs-6 lh-1">Shoes</span>
					<!--end::Subtitle-->
					<!--begin::Bullet-->
					<span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
					<!--end::Bullet-->
				</a>
				<!--end::Link-->
			</li>
			<!--end::Item-->
		</ul>
		<!--end::Nav-->
		<!--begin::Tab Content-->
		<div class="tab-content">
			<!--begin::Tap pane-->
			<div class="tab-pane fade show active" id="kt_stats_widget_2_tab_1">
				<!--begin::Table container-->
				<div class="table-responsive">
					<!--begin::Table-->
					<table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
						<!--begin::Table head-->
						<thead>
							<tr class="fs-7 fw-bold text-gray-500 border-bottom-0">
								<th class="ps-0 w-50px">ITEM</th>
								<th class="min-w-125px"></th>
								<th class="text-end min-w-100px">QTY</th>
								<th class="pe-0 text-end min-w-100px">PRICE</th>
								<th class="pe-0 text-end min-w-100px">TOTAL PRICE</th>
							</tr>
						</thead>
						<!--end::Table head-->
						<!--begin::Table body-->
						<tbody>
							<tr>
								<td>
									<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/210.gif")' class="w-50px ms-n1" alt="" />
								</td>
								<td class="ps-0">
									<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Elephant 1802</a>
									<span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-2347</span>
								</td>
								<td>
									<span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x1</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$72.00</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$126.00</span>
								</td>
							</tr>
							<tr>
								<td>
									<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/215.gif")' class="w-50px ms-n1" alt="" />
								</td>
								<td class="ps-0">
									<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Red Laga</a>
									<span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-1321</span>
								</td>
								<td>
									<span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x2</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$45.00</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$76.00</span>
								</td>
							</tr>
							<tr>
								<td>
									<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/209.gif")' class="w-50px ms-n1" alt="" />
								</td>
								<td class="ps-0">
									<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">RiseUP</a>
									<span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-4312</span>
								</td>
								<td>
									<span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x3</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$84.00</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$168.00</span>
								</td>
							</tr>
						</tbody>
						<!--end::Table body-->
					</table>
					<!--end::Table-->
				</div>
				<!--end::Table container-->
			</div>
			<!--end::Tap pane-->
			<!--begin::Tap pane-->
			<div class="tab-pane fade" id="kt_stats_widget_2_tab_2">
				<!--begin::Table container-->
				<div class="table-responsive">
					<!--begin::Table-->
					<table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
						<!--begin::Table head-->
						<thead>
							<tr class="fs-7 fw-bold text-gray-500 border-bottom-0">
								<th class="ps-0 w-50px">ITEM</th>
								<th class="min-w-125px"></th>
								<th class="text-end min-w-100px">QTY</th>
								<th class="pe-0 text-end min-w-100px">PRICE</th>
								<th class="pe-0 text-end min-w-100px">TOTAL PRICE</th>
							</tr>
						</thead>
						<!--end::Table head-->
						<!--begin::Table body-->
						<tbody>
							<tr>
								<td>
									<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/197.gif")' class="w-50px ms-n1" alt="" />
								</td>
								<td class="ps-0">
									<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Elephant 1802</a>
									<span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-4312</span>
								</td>
								<td>
									<span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x1</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$32.00</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$312.00</span>
								</td>
							</tr>
							<tr>
								<td>
									<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/178.gif")' class="w-50px ms-n1" alt="" />
								</td>
								<td class="ps-0">
									<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Red Laga</a>
									<span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-3122</span>
								</td>
								<td>
									<span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x2</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$53.00</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$62.00</span>
								</td>
							</tr>
							<tr>
								<td>
									<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/22.gif")' class="w-50px ms-n1" alt="" />
								</td>
								<td class="ps-0">
									<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">RiseUP</a>
									<span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-1142</span>
								</td>
								<td>
									<span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x3</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$74.00</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$139.00</span>
								</td>
							</tr>
						</tbody>
						<!--end::Table body-->
					</table>
					<!--end::Table-->
				</div>
				<!--end::Table container-->
			</div>
			<!--end::Tap pane-->
			<!--begin::Tap pane-->
			<div class="tab-pane fade" id="kt_stats_widget_2_tab_3">
				<!--begin::Table container-->
				<div class="table-responsive">
					<!--begin::Table-->
					<table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
						<!--begin::Table head-->
						<thead>
							<tr class="fs-7 fw-bold text-gray-500 border-bottom-0">
								<th class="ps-0 w-50px">ITEM</th>
								<th class="min-w-125px"></th>
								<th class="text-end min-w-100px">QTY</th>
								<th class="pe-0 text-end min-w-100px">PRICE</th>
								<th class="pe-0 text-end min-w-100px">TOTAL PRICE</th>
							</tr>
						</thead>
						<!--end::Table head-->
						<!--begin::Table body-->
						<tbody>
							<tr>
								<td>
									<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/1.gif")' class="w-50px ms-n1" alt="" />
								</td>
								<td class="ps-0">
									<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Elephant 1324</a>
									<span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-1523</span>
								</td>
								<td>
									<span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x1</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$43.00</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$231.00</span>
								</td>
							</tr>
							<tr>
								<td>
									<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/24.gif")' class="w-50px ms-n1" alt="" />
								</td>
								<td class="ps-0">
									<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Red Laga</a>
									<span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-5314</span>
								</td>
								<td>
									<span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x2</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$71.00</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$53.00</span>
								</td>
							</tr>
							<tr>
								<td>
									<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/71.gif")' class="w-50px ms-n1" alt="" />
								</td>
								<td class="ps-0">
									<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">RiseUP</a>
									<span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-4222</span>
								</td>
								<td>
									<span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x3</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$23.00</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$213.00</span>
								</td>
							</tr>
						</tbody>
						<!--end::Table body-->
					</table>
					<!--end::Table-->
				</div>
				<!--end::Table container-->
			</div>
			<!--end::Tap pane-->
			<!--begin::Tap pane-->
			<div class="tab-pane fade" id="kt_stats_widget_2_tab_4">
				<!--begin::Table container-->
				<div class="table-responsive">
					<!--begin::Table-->
					<table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
						<!--begin::Table head-->
						<thead>
							<tr class="fs-7 fw-bold text-gray-500 border-bottom-0">
								<th class="ps-0 w-50px">ITEM</th>
								<th class="min-w-125px"></th>
								<th class="text-end min-w-100px">QTY</th>
								<th class="pe-0 text-end min-w-100px">PRICE</th>
								<th class="pe-0 text-end min-w-100px">TOTAL PRICE</th>
							</tr>
						</thead>
						<!--end::Table head-->
						<!--begin::Table body-->
						<tbody>
							<tr>
								<td>
									<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/41.gif")' class="w-50px ms-n1" alt="" />
								</td>
								<td class="ps-0">
									<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Elephant 2635</a>
									<span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-1523</span>
								</td>
								<td>
									<span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x1</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$65.00</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$163.00</span>
								</td>
							</tr>
							<tr>
								<td>
									<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/63.gif")' class="w-50px ms-n1" alt="" />
								</td>
								<td class="ps-0">
									<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Red Laga</a>
									<span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-2745</span>
								</td>
								<td>
									<span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x2</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$64.00</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$73.00</span>
								</td>
							</tr>
							<tr>
								<td>
									<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/59.gif")' class="w-50px ms-n1" alt="" />
								</td>
								<td class="ps-0">
									<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">RiseUP</a>
									<span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-5173</span>
								</td>
								<td>
									<span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x3</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$54.00</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$173.00</span>
								</td>
							</tr>
						</tbody>
						<!--end::Table body-->
					</table>
					<!--end::Table-->
				</div>
				<!--end::Table container-->
			</div>
			<!--end::Tap pane-->
			<!--begin::Tap pane-->
			<div class="tab-pane fade" id="kt_stats_widget_2_tab_5">
				<!--begin::Table container-->
				<div class="table-responsive">
					<!--begin::Table-->
					<table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
						<!--begin::Table head-->
						<thead>
							<tr class="fs-7 fw-bold text-gray-500 border-bottom-0">
								<th class="ps-0 w-50px">ITEM</th>
								<th class="min-w-125px"></th>
								<th class="text-end min-w-100px">QTY</th>
								<th class="pe-0 text-end min-w-100px">PRICE</th>
								<th class="pe-0 text-end min-w-100px">TOTAL PRICE</th>
							</tr>
						</thead>
						<!--end::Table head-->
						<!--begin::Table body-->
						<tbody>
							<tr>
								<td>
									<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/10.gif")' class="w-50px ms-n1" alt="" />
								</td>
								<td class="ps-0">
									<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Nike</a>
									<span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-2163</span>
								</td>
								<td>
									<span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x1</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$64.00</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$287.00</span>
								</td>
							</tr>
							<tr>
								<td>
									<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/96.gif")' class="w-50px ms-n1" alt="" />
								</td>
								<td class="ps-0">
									<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Adidas</a>
									<span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-2162</span>
								</td>
								<td>
									<span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x2</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$76.00</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$51.00</span>
								</td>
							</tr>
							<tr>
								<td>
									<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/13.gif")' class="w-50px ms-n1" alt="" />
								</td>
								<td class="ps-0">
									<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6 text-start pe-0">Puma</a>
									<span class="text-gray-400 fw-semibold fs-7 d-block text-start ps-0">Item: #XDG-1537</span>
								</td>
								<td>
									<span class="text-gray-800 fw-bold d-block fs-6 ps-0 text-end">x3</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$27.00</span>
								</td>
								<td class="text-end pe-0">
									<span class="text-gray-800 fw-bold d-block fs-6">$167.00</span>
								</td>
							</tr>
						</tbody>
						<!--end::Table body-->
					</table>
					<!--end::Table-->
				</div>
				<!--end::Table container-->
			</div>
			<!--end::Tap pane-->
		</div>
		<!--end::Tab Content-->
	</div>
	<!--end: Card Body-->
</div>
<!--end::Table widget 2-->
<!--begin::Table Widget 4-->
<div class="card card-flush h-xl-100">
	<!--begin::Card header-->
	<div class="card-header pt-7">
		<!--begin::Title-->
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold text-gray-800">Product Orders</span>
			<span class="text-gray-400 mt-1 fw-semibold fs-6">Avg. 57 orders per day</span>
		</h3>
		<!--end::Title-->
		<!--begin::Actions-->
		<div class="card-toolbar">
			<!--begin::Filters-->
			<div class="d-flex flex-stack flex-wrap gap-4">
				<!--begin::Destination-->
				<div class="d-flex align-items-center fw-bold">
					<!--begin::Label-->
					<div class="text-gray-400 fs-7 me-2">Cateogry</div>
					<!--end::Label-->
					<!--begin::Select-->
					<select class="form-select form-select-transparent text-graY-800 fs-base lh-1 fw-bold py-0 ps-3 w-auto" data-control="select2" data-hide-search="true" data-dropdown-css-class="w-150px" data-placeholder="Select an option">
						<option></option>
						<option value="Show All" selected="selected">Show All</option>
						<option value="a">Category A</option>
						<option value="b">Category A</option>
					</select>
					<!--end::Select-->
				</div>
				<!--end::Destination-->
				<!--begin::Status-->
				<div class="d-flex align-items-center fw-bold">
					<!--begin::Label-->
					<div class="text-gray-400 fs-7 me-2">Status</div>
					<!--end::Label-->
					<!--begin::Select-->
					<select class="form-select form-select-transparent text-dark fs-7 lh-1 fw-bold py-0 ps-3 w-auto" data-control="select2" data-hide-search="true" data-dropdown-css-class="w-150px" data-placeholder="Select an option" data-kt-table-widget-4="filter_status">
						<option></option>
						<option value="Show All" selected="selected">Show All</option>
						<option value="Shipped">Shipped</option>
						<option value="Confirmed">Confirmed</option>
						<option value="Rejected">Rejected</option>
						<option value="Pending">Pending</option>
					</select>
					<!--end::Select-->
				</div>
				<!--end::Status-->
				<!--begin::Search-->
				<div class="position-relative my-1">
					@Html.Raw(KTTheme.GetIcon("magnifier", "fs-2 position-absolute top-50 translate-middle-y ms-4"))
					<input type="text" data-kt-table-widget-4="search" class="form-control w-150px fs-7 ps-12" placeholder="Search" />
				</div>
				<!--end::Search-->
			</div>
			<!--begin::Filters-->
		</div>
		<!--end::Actions-->
	</div>
	<!--end::Card header-->
	<!--begin::Card body-->
	<div class="card-body pt-2">
		<!--begin::Table-->
		<table class="table align-middle table-row-dashed fs-6 gy-3" id="kt_table_widget_4_table">
			<!--begin::Table head-->
			<thead>
				<!--begin::Table row-->
				<tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
					<th class="min-w-100px">Order ID</th>
					<th class="text-end min-w-100px">Created</th>
					<th class="text-end min-w-125px">Customer</th>
					<th class="text-end min-w-100px">Total</th>
					<th class="text-end min-w-100px">Profit</th>
					<th class="text-end min-w-50px">Status</th>
					<th class="text-end"></th>
				</tr>
				<!--end::Table row-->
			</thead>
			<!--end::Table head-->
			<!--begin::Table body-->
			<tbody class="fw-bold text-gray-600">
				<tr data-kt-table-widget-4="subtable_template" class="d-none">
					<td colspan="2">
						<div class="d-flex align-items-center gap-3">
							<a href="#" class="symbol symbol-50px bg-secondary bg-opacity-25 rounded">
								<img src="" data-kt-src-path="assets/media/stock/ecommerce/" alt="" data-kt-table-widget-4="template_image" />
							</a>
							<div class="d-flex flex-column text-muted">
								<a href="#" class="text-gray-800 text-hover-primary fw-bold" data-kt-table-widget-4="template_name">Product name</a>
								<div class="fs-7" data-kt-table-widget-4="template_description">Product description</div>
							</div>
						</div>
					</td>
					<td class="text-end">
						<div class="text-gray-800 fs-7">Estudiante</div>
						<div class="text-muted fs-7 fw-bold" data-kt-table-widget-4="template_estudiante">1</div>
					</td>
					<td class="text-end">
						<div class="text-gray-800 fs-7">Qty</div>
						<div class="text-muted fs-7 fw-bold" data-kt-table-widget-4="template_qty">1</div>
					</td>
					<td class="text-end">
						<div class="text-gray-800 fs-7">Total</div>
						<div class="text-muted fs-7 fw-bold" data-kt-table-widget-4="template_total">name</div>
					</td>
					<td class="text-end">
						<div class="text-gray-800 fs-7 me-3">On hand</div>
						<div class="text-muted fs-7 fw-bold" data-kt-table-widget-4="template_stock">32</div>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 text-hover-primary">#XGY-346</a>
					</td>
					<td class="text-end">7 min ago</td>
					<td class="text-end">
						<a href="#" class="text-gray-600 text-hover-primary">Albert Flores</a>
					</td>
					<td class="text-end">$630.00</td>
					<td class="text-end">
						<span class="text-gray-800 fw-bolder">$86.70</span>
					</td>
					<td class="text-end">
						<span class="badge py-3 px-4 fs-7 badge-light-warning">Pending</span>
					</td>
					<td class="text-end">
						<button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px" data-kt-table-widget-4="expand_row">@Html.Raw(KTTheme.GetIcon("plus", "fs-4 m-0 toggle-off")) @Html.Raw(KTTheme.GetIcon("minus", "fs-4 m-0 toggle-on"))</button>
					</td>
				</tr>
				<tr>
					<td>
						<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 text-hover-primary">#YHD-047</a>
					</td>
					<td class="text-end">52 min ago</td>
					<td class="text-end">
						<a href="#" class="text-gray-600 text-hover-primary">Jenny Wilson</a>
					</td>
					<td class="text-end">$25.00</td>
					<td class="text-end">
						<span class="text-gray-800 fw-bolder">$4.20</span>
					</td>
					<td class="text-end">
						<span class="badge py-3 px-4 fs-7 badge-light-primary">Confirmed</span>
					</td>
					<td class="text-end">
						<button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px" data-kt-table-widget-4="expand_row">@Html.Raw(KTTheme.GetIcon("plus", "fs-4 m-0 toggle-off")) @Html.Raw(KTTheme.GetIcon("minus", "fs-4 m-0 toggle-on"))</button>
					</td>
				</tr>
				<tr>
					<td>
						<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 text-hover-primary">#SRR-678</a>
					</td>
					<td class="text-end">1 hour ago</td>
					<td class="text-end">
						<a href="#" class="text-gray-600 text-hover-primary">Robert Fox</a>
					</td>
					<td class="text-end">$1,630.00</td>
					<td class="text-end">
						<span class="text-gray-800 fw-bolder">$203.90</span>
					</td>
					<td class="text-end">
						<span class="badge py-3 px-4 fs-7 badge-light-warning">Pending</span>
					</td>
					<td class="text-end">
						<button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px" data-kt-table-widget-4="expand_row">@Html.Raw(KTTheme.GetIcon("plus", "fs-4 m-0 toggle-off")) @Html.Raw(KTTheme.GetIcon("minus", "fs-4 m-0 toggle-on"))</button>
					</td>
				</tr>
				<tr>
					<td>
						<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 text-hover-primary">#PXF-534</a>
					</td>
					<td class="text-end">3 hour ago</td>
					<td class="text-end">
						<a href="#" class="text-gray-600 text-hover-primary">Cody Fisher</a>
					</td>
					<td class="text-end">$119.00</td>
					<td class="text-end">
						<span class="text-gray-800 fw-bolder">$12.00</span>
					</td>
					<td class="text-end">
						<span class="badge py-3 px-4 fs-7 badge-light-success">Shipped</span>
					</td>
					<td class="text-end">
						<button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px" data-kt-table-widget-4="expand_row">@Html.Raw(KTTheme.GetIcon("plus", "fs-4 m-0 toggle-off")) @Html.Raw(KTTheme.GetIcon("minus", "fs-4 m-0 toggle-on"))</button>
					</td>
				</tr>
				<tr>
					<td>
						<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 text-hover-primary">#XGD-249</a>
					</td>
					<td class="text-end">2 day ago</td>
					<td class="text-end">
						<a href="#" class="text-gray-600 text-hover-primary">Arlene McCoy</a>
					</td>
					<td class="text-end">$660.00</td>
					<td class="text-end">
						<span class="text-gray-800 fw-bolder">$52.26</span>
					</td>
					<td class="text-end">
						<span class="badge py-3 px-4 fs-7 badge-light-success">Shipped</span>
					</td>
					<td class="text-end">
						<button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px" data-kt-table-widget-4="expand_row">@Html.Raw(KTTheme.GetIcon("plus", "fs-4 m-0 toggle-off")) @Html.Raw(KTTheme.GetIcon("minus", "fs-4 m-0 toggle-on"))</button>
					</td>
				</tr>
				<tr>
					<td>
						<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 text-hover-primary">#SKP-035</a>
					</td>
					<td class="text-end">2 day ago</td>
					<td class="text-end">
						<a href="#" class="text-gray-600 text-hover-primary">Eleanor Pena</a>
					</td>
					<td class="text-end">$290.00</td>
					<td class="text-end">
						<span class="text-gray-800 fw-bolder">$29.00</span>
					</td>
					<td class="text-end">
						<span class="badge py-3 px-4 fs-7 badge-light-danger">Rejected</span>
					</td>
					<td class="text-end">
						<button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px" data-kt-table-widget-4="expand_row">@Html.Raw(KTTheme.GetIcon("plus", "fs-4 m-0 toggle-off")) @Html.Raw(KTTheme.GetIcon("minus", "fs-4 m-0 toggle-on"))</button>
					</td>
				</tr>
				<tr>
					<td>
						<a href="?page=apps/ecommerce/catalog/edit-product" class="text-gray-800 text-hover-primary">#SKP-567</a>
					</td>
					<td class="text-end">7 min ago</td>
					<td class="text-end">
						<a href="#" class="text-gray-600 text-hover-primary">Dan Wilson</a>
					</td>
					<td class="text-end">$590.00</td>
					<td class="text-end">
						<span class="text-gray-800 fw-bolder">$50.00</span>
					</td>
					<td class="text-end">
						<span class="badge py-3 px-4 fs-7 badge-light-success">Shipped</span>
					</td>
					<td class="text-end">
						<button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px" data-kt-table-widget-4="expand_row">@Html.Raw(KTTheme.GetIcon("plus", "fs-4 m-0 toggle-off")) @Html.Raw(KTTheme.GetIcon("minus", "fs-4 m-0 toggle-on"))</button>
					</td>
				</tr>
			</tbody>
			<!--end::Table body-->
		</table>
		<!--end::Table-->
	</div>
	<!--end::Card body-->
</div>
<!--end::Table Widget 4-->
