@using Infrasctructure.Repositories;
@using Domain;
@model ReinventedPuembo.Models.ChangePasswordViewModel;
﻿@{
    ViewData["Title"] = "Cambiar contraseña";
    Layout = KTTheme.GetView("Auth.cshtml");
    KTTheme.AddJavascriptFile("js/custom/authentication/sign-in/general.js");
}

<!--begin::Form-->
<form id="changePasswordForm" asp-action="NewChangePassword" asp-controller="Usuarios" method="post" class="form w-100" novalidate="novalidate">
    <!--begin::Heading-->
    <div class="text-center mb-10">
        <!--begin::Title-->
        <h1 class="text-dark fw-bolder mb-3">
            Cambiar contraseña
        </h1>
        <!--end::Title-->
    </div>

    <!-- Begin Input group for current password -->
    <div class="fv-row mb-8">
        <div class="text-gray-500 fw-semibold fs-6">
            Contraseña actual
        </div>
        @Html.PasswordFor(d => d.CurrentPassword, new { @class = "form-control" , id = "CurrentPassword"})
        @Html.ValidationMessageFor(d => d.CurrentPassword, null, new { style = "color:red;"})
        <div id="currentPasswordError" class="text-danger" style="display:none;">
            La contraseña actual no coincide.
        </div>
    </div>
    <!-- End Input group for current password -->
    <!-- Begin Input group for new password -->
    <div class="fv-row mb-8">
        <div class="text-gray-500 fw-semibold fs-6">
            Nueva contraseña
        </div>
        @Html.PasswordFor(d => d.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.NewPassword, null, new { style = "color:red;" })
        <div id="passwordValidationError" class="text-danger" style="display:none;">
            La nueva contraseña debe tener al menos una mayúscula, un carácter especial, un número y tener una longitud mínima de 8 caracteres.
        </div>
    </div>
    <!-- End Input group for new password -->
    <!-- Begin Input group for confirming new password -->
    <div class="fv-row mb-8">
        <div class="text-gray-500 fw-semibold fs-6">
            Confirmar nueva contraseña
        </div>
        @Html.PasswordFor(d => d.ConfirmNewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.ConfirmNewPassword, null, new { style = "color:red;" })
    </div>
    <!-- End Input group for confirming new password -->
    <!-- Hidden fields for Email and token -->

    <!--begin::Actions-->
    <div class="d-flex flex-wrap justify-content-center pb-lg-0">
        <button id="changePasswordButton" type="submit" class="btn btn-primary me-4">
            Cambiar
        </button>
        <a asp-action="login" asp-controller="usuarios" class="btn btn-light">Cancelar</a>
    </div>
    <!--end::Actions-->
</form>
<!--end::Form-->
<script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("changePasswordButton").addEventListener("click", function (event) {
                event.preventDefault();

                // Obtener la contraseña ingresada por el usuario
                var newPassword = document.getElementById("NewPassword").value;

                // Realizar la validación manual con JavaScript
                if (!isValidPassword(newPassword)) {
                    // Mostrar el mensaje de validación en el div oculto
                    document.getElementById("passwordValidationError").style.display = "block";
                    return;
                }

                // Si la validación es exitosa, enviar el formulario
                document.getElementById("changePasswordForm").submit();
            });
        });

        // Función para validar la contraseña fuerte
        function isValidPassword(password) {
            var upperCaseRegex = /[A-Z]/;
            var specialCharacterRegex = /[!#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
            var digitRegex = /\d/;
            return password.length >= 8 && upperCaseRegex.test(password) && specialCharacterRegex.test(password) && digitRegex.test(password);
        }

    function showCurrentPasswordError() {
        document.getElementById("currentPasswordError").style.display = "block";
    }
    </script>