@using Application.Models.Email;
@model EmailConfirmed

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body style="margin:0; padding:0; background-color:#f8f8f8; padding-top: 10px;">
    <!--Mailing Start-->
    <div leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"
         style="height:auto !important;width:100% !important; font-family: 'Nunito','Segoe UI',Helvetica,Arial,sans-serif !important; margin-bottom: 40px;">
        <center>
            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0"
                   style="max-width:600px; background-color:#4d525d;border:1px solid #e4e2e2;border-collapse:separate !important; border-radius:4px;border-spacing:0;color:#242128; margin:0;padding:40px;"
                   heigth="auto">
                <tbody>
                    <tr style="text-align: center;">
                        <td align="center" valign="center"
                            style="padding-bottom:40px;border-top:0;height:100% !important;width:100% !important;">
                            @*<img src="https://media.licdn.com/dms/image/C4E0BAQH6enn2N0lbRA/company-logo_200_200/0/1649879592450?e=2147483647&v=beta&t=56Q5jSmQFYp2xrDKKlGCd8NZjP32TUrYLwPJ_jpg7JY"
                            width="250" />*@
                        </td>
                        <td align="right" valign="center"
                            style="padding-bottom:40px;border-top:0;height:100% !important;width:100% !important;">
                            <span style="color: #8f8f8f; font-weight: normal; line-height: 2; font-size: 14px;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-top:10px;border-top:1px solid #e4e2e2">
                            <h3 style="color:white; font-size:18px; line-height: 1.6; font-weight:500; text-transform: uppercase; text-align: center;">
                                Bienvenido @Model.name @Model.userName
                            </h3>
                            @if (Model.sucursal == 1)
                            {
                                <p style="color:white; font-size: 14px; padding-bottom: 20px; line-height: 1.4;">
                                    Ya puedes acceder a la plataforma de matriculación de Reinvented School, en la cual realizarás todos los pasos previos al inicio de este nuevo año lectivo.
                                </p>
                            }
                            else if (Model.sucursal == 2)
                            {
                                <p style="color:white; font-size: 14px; padding-bottom: 20px; line-height: 1.4;">
                                    Ya puedes acceder a la plataforma de matriculación de Reinvented School, en la cual realizarás todos los pasos previos al inicio de este nuevo año lectivo.
                                </p>
                            }
                            <p style="color:white; font-size: 14px; padding-bottom: 20px; line-height: 1.4;">
                                Tus credenciales son:
                            </p>
                            <ul style="color:white; font-size: 14px; padding-bottom: 20px; line-height: 1.4;">
                                <li type="disc"> <strong>Correo: </strong>@Model.email </li>
                                <li type="disc"> <strong>Contraseña: </strong>@Model.password </li>
                            </ul>
                            <p style="color:white; font-size: 15px; padding-bottom: 20px; line-height: 1.4;">
                                La contraseña de ingreso se generá automaticamente, al momento de ingresar se recomienda cambiar la contraseña
                                por una deseada. Los datos proporcionados son encryptados.<br>
                                Guarde este correo en un lugar seguro donde pueda revisarlo fácilmente
                            </p>
                            @if (Model.sucursal == 1)
                            {
                                <p style="color:white; font-size: 14px; padding-bottom: 20px; line-height: 1.4;">
                                    Para obtener más información sobre el Sistema de Matriculación de ReinventED Puembo o cualquier inconveniente que desee informar, por favor envíe un correo electrónico a <a href="mailto: matriculación@reinventedpuembo.edu.ec"
                                                                                                                                                                                                                 style="color: #3c7edd;">matriculación@reinventedpuembo.edu.ec</a>
                                </p>
                            }
                            else if (Model.sucursal == 2)
                            {
                                <p style="color:white; font-size: 14px; padding-bottom: 20px; line-height: 1.4;">
                                    Para obtener más información sobre el Sistema de Matriculación de ReinventED Santa Clara o cualquier inconveniente que desee informar, por favor envíe un correo electrónico a <a href="mailto: matriculacion@reinventedsantaclara.edu.ec"
                                                                                                                                                                                                                      style="color: #3c7edd;">matriculacion@reinventedsantaclara.edu.ec</a>
                                </p>
                            }
                            <p style="color:white; font-size: 14px; padding-bottom: 20px; line-height: 1.4;">
                                Ir a la plataforma:
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                   style="min-width:100%;border-collapse:collapse;">
                                <tbody>
                                    <tr>
                                        <td style="padding:15px 0px;" valign="top" align="center">
                                            <table border="0" cellpadding="0" cellspacing="0"
                                                   style="border-collapse:separate !important;">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" valign="middle" style="padding:13px;">
                                                            <a href="@Model.linkConfirmacion" title="Ir a la plataforma"
                                                               target="_blank"
                                                               style="font-size: 14px; line-height: 1.5; font-weight: 700; letter-spacing: 1px; padding: 15px 40px; text-align:center; text-decoration:none; color:#FFFFFF; border-radius: 50px; background-color:#145388;">
                                                                IR
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-top:10px;border-top:1px solid #e4e2e2">
                            <p style="color:white; font-weight: bold; font-size: 14px; padding-bottom: 20px;  line-height: 1.4;">
                                ReinventedED Schools
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top:30px; padding-bottom:20px; margin-bottom: 40px;">
                <tbody>
                    <tr>
                        <td align="center" valign="center">
                            <p style="font-size: 12px; text-decoration: none;line-height: 1; color:#909090; margin-top:0px; ">
                                ReinventedED Schools
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
    <!--Mailing End-->

</body>

</html>