@using Application.Models.Email;
@model JustificacionSeguro

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body style="margin:0; padding:0; background-color:#f8f8f8; padding-top: 10px;">
    <!--Mailing Start-->
    <div leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"
         style="height:auto !important;width:100% !important; font-family: 'Nunito','Segoe UI',Helvetica,Arial,sans-serif !important; margin-bottom: 40px;">
        <center>
            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0"
                   style="max-width:600px; background-color:#081a3e;border:1px solid #e4e2e2;border-collapse:separate !important; border-radius:4px;border-spacing:0;color:#242128; margin:0;padding:40px;"
                   heigth="auto">
                <tbody>
                    <tr style="text-align: center;">
                        <td align="center" valign="center"
                            style="padding-bottom:40px;border-top:0;height:100% !important;width:100% !important;">
                            <img src="/assets/media/Reinvented/ReinventedSCHMesa de trabajo 3.png" width="250" />
                        </td>
                        <td align="right" valign="center"
                            style="padding-bottom:40px;border-top:0;height:100% !important;width:100% !important;">
                            <span style="color: #8f8f8f; font-weight: normal; line-height: 2; font-size: 14px;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-top:10px;border-top:1px solid #e4e2e2">
                            <h3 style="color:white; font-size:18px; line-height: 1.6; font-weight:500; text-transform: uppercase; text-align: center;">
                                Justificación de negativa del seguro de beca estudiantil
                            </h3>
                            <p style="color:white; font-size: 14px; padding-bottom: 20px; line-height: 1.4;">
                                Datos y motivo:
                            </p>
                            <ul style="color:white; font-size: 14px; padding-bottom: 20px; line-height: 1.4;">
                                <li type="none"> <strong>Nombre: </strong>@Model.Nombre </li>
                                <li type="none"> <strong>Cedula: </strong>@Model.Cedula </li>
                                <li type="none"> <strong>Telefono: </strong>@Model.Telefono </li>
                                <li type="none"> <strong>Justificación: </strong>@Model.Justificacion </li>
                            </ul>
                        </td>
                    </tr>
@*                    <tr>
                        <td colspan="2">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                   style="min-width:100%;border-collapse:collapse;">
                                <tbody>
                                    <tr>
                                        <td style="padding:15px 0px;" valign="top" align="center">
                                            <table border="0" cellpadding="0" cellspacing="0"
                                                   style="border-collapse:separate !important;">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" valign="middle" style="padding:13px;">
                                                            <a href="@Model.passwordChangeLink" title="Restablecer"
                                                               target="_blank"
                                                               style="font-size: 14px; line-height: 1.5; font-weight: 700; letter-spacing: 1px; padding: 15px 40px; text-align:center; text-decoration:none; color:#FFFFFF; border-radius: 50px; background-color:#145388;">
                                                                Restablecer
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>*@
                    <tr>
@*                        <td colspan="2" style="padding-top:10px;border-top:1px solid #e4e2e2">
                            <p style="color:white; font-weight: bold; font-size: 14px; padding-bottom: 20px;  line-height: 1.4;">
                                ED SCHOOL TEAM
                                <br />
                                <a href="https://reinventedpuembo.edu.ec/"
                                   style="color: #ebcc35;">https://reinventedpuembo.edu.ec/</a>
                            </p>
                        </td>*@
                    </tr>
                </tbody>
            </table>
            <table style="margin-top:30px; padding-bottom:20px;; margin-bottom: 40px;">
                <tbody>
                    <tr>
                        <td align="center" valign="center">
                            <p style="font-size: 12px; text-decoration: none;line-height: 1; color:#909090; margin-top:0px; ">
                                ED SCHOOL TEAM
                            </p>
                            <p style="font-size: 12px; line-height:1; color:#909090;  margin-top:5px;">
                                <a href="https://edschool.com/privacy-policy"
                                   style="color: #145388; text-decoration:none;">Política de Privacidad</a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
    <!--Mailing End-->

</body>

</html>